In [18]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

In [19]:
data=pd.read_csv(r"C:\Users\saipr\Downloads\Automobile.csv")

In [43]:
num=data.select_dtypes(['int64','float64'])

In [44]:
num.columns

Index(['wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_size',
       'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [45]:
num_cols=num.columns.tolist()

In [46]:
from sklearn.preprocessing import StandardScaler

std_scale = StandardScaler()

std_scale

StandardScaler(copy=True, with_mean=True, with_std=True)

In [47]:
for i in num_cols:
    num[i]= std_scale.fit_transform(num[i].values.reshape(-1,1))

In [48]:
num

,wheel_base,length,width,height,curb_weight,engine_size,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,-1.685107,-0.439409,-0.853460,-2.034081,-0.014858,0.075389,0.207429,-0.253732,-0.652249,-0.542288,0.036314
1,-1.685107,-0.439409,-0.853460,-2.034081,-0.014858,0.075389,0.207429,-0.253732,-0.652249,-0.542288,0.415385
2,-0.710103,-0.244152,-0.185597,-0.559713,0.518080,0.606234,1.360360,-0.253732,-0.964397,-0.689386,0.415385
3,0.165748,0.195176,0.148335,0.218425,-0.423766,-0.431327,-0.033882,0.791352,-0.184027,-0.100993,0.093711
4,0.099646,0.195176,0.243744,0.218425,0.520017,0.220165,0.314678,0.791352,-1.120471,-1.277779,0.535224
...,...,...,...,...,...,...,...,...,...,...,...
196,1.702619,1.187733,1.436357,0.709881,0.768075,0.340812,0.287866,0.582336,-0.340101,-0.395189,0.458906
197,1.702619,1.187733,1.388653,0.709881,0.956057,0.340812,1.521234,0.373319,-0.964397,-0.836484,0.736429
198,1.702619,1.187733,1.436357,0.709881,0.884353,1.112950,0.824113,0.791352,-1.120471,-1.130681,1.044227
199,1.702619,1.187733,1.436357,0.709881,1.281633,0.437329,0.073367,-0.671766,0.128120,-0.542288,1.168481
200,1.702619,1.187733,1.436357,0.709881,0.981250,0.340812,0.287866,0.582336,-0.964397,-0.836484,1.188034

In [49]:
obj=data.select_dtypes('object')

In [50]:
obj

,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,number_of_cylinders,engine_location
0,alfa-romero,gas,std,two,convertible,rwd,four,front
1,alfa-romero,gas,std,two,convertible,rwd,four,front
2,alfa-romero,gas,std,two,hatchback,rwd,six,front
3,audi,gas,std,four,sedan,fwd,four,front
4,audi,gas,std,four,sedan,4wd,five,front
...,...,...,...,...,...,...,...,...
196,volvo,gas,std,four,sedan,rwd,four,front
197,volvo,gas,turbo,four,sedan,rwd,four,front
198,volvo,gas,std,four,sedan,rwd,six,front
199,volvo,diesel,turbo,four,sedan,rwd,six,front
200,volvo,gas,turbo,four,sedan,rwd,four,front

In [51]:
obj_cols=obj.columns.tolist()

In [52]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [53]:
for i in obj_cols:
    obj[i]=labelencoder.fit_transform(obj[i].astype('str'))

In [54]:
obj

,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,number_of_cylinders,engine_location
0,0,1,0,1,0,2,2,0
1,0,1,0,1,0,2,2,0
2,0,1,0,1,2,2,3,0
3,1,1,0,0,3,1,2,0
4,1,1,0,0,3,0,1,0
...,...,...,...,...,...,...,...,...
196,21,1,0,0,3,2,2,0
197,21,1,1,0,3,2,2,0
198,21,1,0,0,3,2,3,0
199,21,0,1,0,3,2,3,0
200,21,1,1,0,3,2,2,0

In [55]:
new_data=pd.concat([num,obj],axis=1)

In [56]:
new_data

,wheel_base,length,width,height,curb_weight,engine_size,horsepower,peak_rpm,city_mpg,highway_mpg,price,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,number_of_cylinders,engine_location
0,-1.685107,-0.439409,-0.853460,-2.034081,-0.014858,0.075389,0.207429,-0.253732,-0.652249,-0.542288,0.036314,0,1,0,1,0,2,2,0
1,-1.685107,-0.439409,-0.853460,-2.034081,-0.014858,0.075389,0.207429,-0.253732,-0.652249,-0.542288,0.415385,0,1,0,1,0,2,2,0
2,-0.710103,-0.244152,-0.185597,-0.559713,0.518080,0.606234,1.360360,-0.253732,-0.964397,-0.689386,0.415385,0,1,0,1,2,2,3,0
3,0.165748,0.195176,0.148335,0.218425,-0.423766,-0.431327,-0.033882,0.791352,-0.184027,-0.100993,0.093711,1,1,0,0,3,1,2,0
4,0.099646,0.195176,0.243744,0.218425,0.520017,0.220165,0.314678,0.791352,-1.120471,-1.277779,0.535224,1,1,0,0,3,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1.702619,1.187733,1.436357,0.709881,0.768075,0.340812,0.287866,0.582336,-0.340101,-0.395189,0.458906,21,1,0,0,3,2,2,0
197,1.702619,1.187733,1.388653,0.709881,0.956057,0.340812,1.521234,0.373319,-0.964397,-0.836484,0.736429,21,1,1,0,3,2,2,0
198,1.702619,1.187733,1.436357,0.709881,0.884353,1.112950,0.824113,0.791352,-1.120471,-1.130681,1.044227,21,1,0,0,3,2,3,0
199,1.702619,1.187733,1.436357,0.709881,1.281633,0.437329,0.073367,-0.671766,0.128120,-0.542288,1.168481,21,0,1,0,3,2,3,0
200,1.702619,1.187733,1.436357,0.709881,0.981250,0.340812,0.287866,0.582336,-0.964397,-0.836484,1.188034,21,1,1,0,3,2,2,0

In [57]:
x=new_data.drop('price',axis=1)
y=new_data['price']

In [58]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=40)
 
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(140, 18) (61, 18)
(140,) (61,)

In [59]:
from sklearn.linear_model import LinearRegression
rm= LinearRegression()
rm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:
for idx ,col_name in enumerate(x_train.columns):
    print("The Coefficient for {} is {}".format(col_name,rm.coef_[idx]))

The Coefficient for wheel_base is 0.12451615789771735
The Coefficient for length is 0.005417918365252766
The Coefficient for width is 0.17717270886880515
The Coefficient for height is 0.08037823445135571
The Coefficient for curb_weight is -0.10049674421016161
The Coefficient for engine_size is 0.5204228588547047
The Coefficient for horsepower is 0.2078321133852493
The Coefficient for peak_rpm is 0.06875648162761169
The Coefficient for city_mpg is -0.037316211185398115
The Coefficient for highway_mpg is 0.051965100350397433
The Coefficient for make is -0.024390623673856342
The Coefficient for fuel_type is -0.2386254304675178
The Coefficient for aspiration is 0.08641444398054168
The Coefficient for number_of_doors is -0.09479972106840459
The Coefficient for body_style is -0.08600529103369217
The Coefficient for drive_wheels is 0.18807862228540964
The Coefficient for number_of_cylinders is 0.04476719580472334
The Coefficient for engine_location is 1.2542514906006588

In [62]:
rm.score(x_test,y_test)

0.8481062358699885